<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notificação de Importação</title>
</head>
<body>
    <h1>Olá, <%= userName %>!</h1>
    <p>Estamos importando suas contas, assim que finalizarmos, notificaremos.</p>
    <p>Se você tiver alguma dúvida, por favor, entre em contato conosco.</p>
    <p>Atenciosamente,</p>
    <p>Equipe de Suporte</p>
</body>
</html>
